
body {
    background-image: url("Assets/bgimg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    
}

h1 {
    font-size: 40px;
}

.details {

    border: 1px solid black;
    background-color: rgb(254, 215, 168);
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
}

#detailsTable {
    font-size: 50px;
    margin: 0 auto;
}

.board {
    border: 1px solid black;
    background-color: rgb(254, 215, 168);
    margin: 0 auto;

}

#table {
    width: 400px;
    height: 400px;
    border: 5px solid black;
    background-color: rgb(254, 215, 168);
    margin: 0 auto;
}

tr {
    height: 90px;
}

td {
    min-width: 80px;
    border: 1px solid white;
    background-color: rgb(185, 139, 79);
    padding: 5px;
    margin: 0 auto;
}

img {
    max-block-size: 40px;
    margin: 0 auto;
}

span {
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
}

#menu {
    background-color: rgb(254, 215, 168);
    border: 3px solid black;
    text-align: center;
    display: block;
    place-items: center;
    height: fit-content;
}

section {
    margin: 5px;
    font-size: 30px;
}

article {
    margin: 10px;
}

#startGame {
    margin-top: 10px;
    margin-bottom: 10px;
}

#timer {
    align-content: center;
}